
body {
	margin: 0;
}


.wrapper {
	display: grid;
	grid-template-columns: 20% 1fr;
	grid-template-rows: 80px 1fr 70px 70px;
	height: 100vh;
	grid-template-areas:
		"header header"
		"nav article"
		"nav ads"
		"footer footer";
	grid-row-gap: 10px;
	grid-column-gap: 10px;
}
header, nav, .ads, article, footer {
	background: #9BCF3A;
	padding: 10px;
}
header {
	grid-area: header;


}

nav {
	grid-area: nav;


}

article {
	grid-area: article;

}

.ads {
	grid-area: ads;

}

footer {
	grid-area: footer;

}