body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    border: lightgray 1px solid;
    border-radius: 5px;
    padding: .75em;
    margin: .5em auto;
}

.message-info {
    background-color: #CDDDFC;
    color: #5E58AE;
}

.message-success {
    background-color: #CFF3DA;
    color: darkgreen;
}

.message-warning {
    background-color: #FCFBC9;
    color: #907E2E;
}

.message-error {
    background-color: #F8D3D7;
    color: #96374D;
}